<h3>Recipe <%= @recipes.name %></h3>

<div class="nav">
  <a href="/">Home</a> |
  <a href="/recipes">View All Recipes</a>
  <a href="/tags">Tags</a>
</div>

<hr>

<h4>Ingredients:</h4>

<h5><%= @recipes.ingredients %></h5>

<h4>Instructions:</h4>

<h5><%= @recipes.instructions %></h5>

<h4>Rating:</h4>

<h5><%= @recipes.ratings %></h5>

<h4>Tags:</h4>

<% if @tags.any? %>
<% @tags.each do |tag| %>
  <%= tag.name %>
  <% end %>
<% end %>





<form action="/recipe/<%= @recipes.id %>" method="post" class="right delete-form">
 <input name="_method" type="hidden" value="delete">
 <button type="submit" class="btn red right">Delete</button>
</form>

<hr>
<br>

<h5>Update Recipe</h5>
    <!-- update Recipe name -->
    <form action="/recipe/<%= @recipes.id() %>" method="post" required>
      <input name="_method" type="hidden" value="patch">
      <label for="new-name">Update Recipe Name</label>
      <input id="new-name" name="new-name" type="text">

      <label for="new-ingedients">Update Ingredients</label>
      <input id="new-ingedients" name="new-ingedients" type="text" required>

      <label for="new-instructions">Update Intructions</label>
      <input id="new-instructions" name="new-instructions" type="text" required>

      <label for="new-rating">Update Rating</label>
      <input id="new-rating" name="new-rating" type="text" required>

      <label>Select a Tag</label><br>

      <% if @alltags.any?() %>
        <select name="tag_id" class="browser-default" required>
          <option value=""></option>
          <% @alltags.each() do |tag| %>
            <option value="<%= tag.id()%>"><%= tag.name() %></option>
          <% end %>
        </select><br><br>
      <% end %>

      <button type="submit" class="btn">Update</button>
    </form>
